.container {
    &_headerPage {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      &_buttonBack {
        cursor: pointer;
        border-radius: 99em;
      }
    }
  }
  .Item {
    padding: 10px;
    font-weight: bold;
    .titleItem {
      font-weight: bold;
    }
  }
  