.avatar {
    display: flex;
    .image {
      width: 8.5rem;
      img {
        border: 2px solid #D6D6D6;
        border-radius: 50%;
      }
    }
  }
  
  .modal_avatar {
    text-align: center;
  
    .upload {
      display: flex;
      justify-content: center;
    }
    
    img {
      width: 60%;
    }
    button {
      background-color: var(--primary-color);
      color: var(--white-color);
      padding: 0.375rem 1.5rem;
      border: 1px solid var(--primary-color);
      border-radius: var(--border-radius);
      margin-top: 2rem;
    }
  }
  